<!DOCTYPE HTML>
<HTML>
	<head>
		<title> Simple Blog </title>
	</head>

	<body>
		<link rel="stylesheet" type="text/css" href="../CSS/mystyle.css">
		
		<!--Header Part of the blog-->
		<div class="header">
			<h1> Simple Blog </h1> 
			<ul>
				<li> <a href="../VIEW/home.php" id="link"> HOME </a> </li>
			</ul>
		</div>
		<div class="identity">
			Jan Wira Gotama Putra | 13512015
		</div>
		<hr id="strongLine">
		
		<!--Body Part of the blog-->
		<!-- Script -->
		<script src="../JS/validatePost.js"> </script>
		<div class="form">
			<form class="importantForm" name="newPost" action="../PHP/savePost.php" onsubmit="return validateForm()" method="POST">
				<span class="formLabel"> Title &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </span> <input id="postTitle" name="postTitle" placeholder="Title" type="text"> </input>
				<br>
				<span class="formLabel"> Date &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </span> <input id="postDate" name="postDate" placeholder="YYYY-MM-DD" type="text"> </input>
				<br>
				<div class="formLabel"> Content &nbsp&nbsp&nbsp&nbsp: </div> <textarea id="postContent" name="postContent"></textarea>
				<br>
				<input id="hidden" name="hidden" value=0> </input>
				<br>
				<input type="submit" value="Submit"> </input>
			</form>
		</div>
	</body>
</HTML>